@{
    Layout = "_MyLayout";
    //Layout = null;
    ViewData["Title"] = "Privacy Policy";
}
<!--REnderBoy-->
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<!--FooterSection-->
@* @section FooterSection{
    Hello From View To Footer Section
    <script></script>
} *@

@section HeadSection {
    Hello From View To HeBad Section

}
@* @section Footer{
    Hello From View To Footer Section
    <script></script>
}  *@