@model List<Employee>
@{
    ViewData["Title"] = "Index";
}
<a asp-action="New" asp-controller="Employee" class="btn btn-primary">New</a>
<h1>Index</h1>
<div id="div1" style="border:10px solid red"></div>
<table class="table table-hover">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td></td>
        @* <td>Dept Name</td> *@
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            @* <td>@item.Department.Name</td> *@
            <td>
                <a href="/Employee/Edit/@item.Id">Edit</a>
            </td>
            <td>
                <a href="/Employee/Details/@item.Id">Details</a>
            </td>
            <td>
                <a href="#" onclick="ShowCard(@item.Id)">Load Details</a>
            </td>
        </tr>
    }
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function ShowCard(empId){
        //ajax call to action that return partial view
        $.ajax({
            url: "/Employee/ShowCard/"+empId,
            success: function (result) {
                console.log(result);
                $("#div1").html(result);//dom
            }
        });
        //using dom result inside div
    }
</script>